@import "../node_modules/prosemirror-gapcursor/style/gapcursor.css";

editable-content {
  display: flex;
  cursor: auto;
}
.ProseMirror {
  flex: 1;
}

.ProseMirror {
  position: relative;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.ProseMirror pre {
  white-space: pre-wrap;
}

.ProseMirror li {
  position: relative;
  pointer-events: none; /* Don't do weird stuff with marker clicks */
}

.ProseMirror li > * {
  pointer-events: auto;
}


.ProseMirror-hideselection *::selection { background: transparent; }
.ProseMirror-hideselection *::-moz-selection { background: transparent; }

.ProseMirror-selectednode {
  outline: 2px solid #8cf;
}

/* Make sure li selections wrap around markers */

li.ProseMirror-selectednode {
  outline: none;
}

li.ProseMirror-selectednode:after {
  content: "";
  position: absolute;
  left: -32px;
  right: -2px; top: -2px; bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none;
}

.ProseMirror ul, .ProseMirror ol {
  margin: 1em 0;
  padding-left: 40px;
}

.ProseMirror ol
.ProseMirror ol ol ol ol,
.ProseMirror ol ol ol ol ol ol ol {
  list-style-type: decimal;
}
.ProseMirror ol ol,
.ProseMirror ol ol ol ol ol,
.ProseMirror ol ol ol ol ol ol ol ol {
  list-style-type: lower-alpha;
}
.ProseMirror ol ol ol,
.ProseMirror ol ol ol ol ol ol,
.ProseMirror ol ol ol ol ol ol ol ol ol {
  list-style-type: lower-roman;
}

.ProseMirror img {
  cursor: default;
  max-width: 100%;
}

.ProseMirror table {
  border-collapse: collapse;
}

.ProseMirror td {
  vertical-align: top;
  border: 1px solid #ddd;
  padding: 3px 5px;
}

.ProseMirror-invalid {
  background: #ffc;
  border: 1px solid #cc7;
  border-radius: 4px;
  padding: 5px 10px;
  position: absolute;
  min-width: 10em;
}

#editable-menu {
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(49, 49, 47, .99), #262625);
  border-radius: .25rem;
  opacity: 0;
  z-index: 10000;
}
#editable-menu.active {
  opacity: 1;
  animation: pop-upwards 180ms forwards linear;
  transition: top 75ms ease-out, left 75ms ease-out;
}
#editable-menu::after {
  content: '';
  position: absolute;
  bottom: -13px;
  left: 50%;
  margin-left: -7px;
  border: 7px solid transparent;
  border-top-color: #262625;
}
#editable-menu button {
  height: 42px;
  line-height: 42px;
  vertical-align: middle;
  border: none;
  padding: 0 8px;
  color: #fff;
  background: none;
  outline: none;
  cursor: pointer;
}
#editable-menu button:first-child {
  padding-left: 14px;
}
#editable-menu button:last-child {
  padding-right: 14px;
}
#editable-menu button.active {
  color: #F5A503;
}
#editable-menu button[disabled] {
  opacity: .5;
  cursor: default;
}
#editable-menu .editable-menu-separator {
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  margin: 0 6px;
  height: 24px;
  background: rgba(0, 0, 0, .2);
  box-shadow: 1px 0 rgba(255, 255, 255, .2);
}
@keyframes pop-upwards {
  0% {
    transform: matrix(.97, 0, 0, 1, 0, 12);
    opacity: 0
  }
  20% {
    transform: matrix(.99, 0, 0, 1, 0, 2);
    opacity: .7
  }
  40% {
    transform: matrix(1, 0, 0, 1, 0, -1);
    opacity: 1
  }
  70% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1
  }
}

#editable-menu .editable-menu-input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
#editable-menu .editable-menu-input input {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  color: #f7f7f9;
  padding: 10px 24px 10px 12px;
  font-size: .875rem;
  outline: none;
}
#editable-menu .editable-menu-input .close {
  position: absolute;
  right: 12px;
  top: 10px;
  color: #f7f7f9;
  opacity: .5;
}
#editable-menu .editable-menu-input .close:hover {
  color: #f7f7f9;
  opacity: 1;
}
#editable-menu:not(.input) .editable-menu-input {
  display: none;
}
#editable-menu.input .editable-menu-items {
  opacity: 0;
}

#editable-menu .icon {
  font-size: 24px;
}
.icon.editable-bold::before {
  content: '\E238';
}
.icon.editable-italic::before {
  content: '\E23F';
}
.icon.editable-link::before {
  content: '\E250';
}
.icon.editable-heading1::before {
  content: '\E264';
}
.icon.editable-heading2::before {
  font-size: .75em;
  content: '\E264';
}
.icon.editable-quote::before {
  content: '\E244';
}

